<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--부트스트랩-->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

    <!--일반 css-->
    <link th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>

<!--header-->
<div th:insert="layout/header :: header"></div>

<div class="container">
    <form action="/login" method="post">
        <div class="form-group">
            <label for="username"></label>
            <input type="text" name="username" id="username" class="form-controller" placeholder="별명 몇 이메일">
        </div>
        <div class="form-group">
            <label for="password"></label>
            <input type="password" name="password" id="password" class="form-controller" placeholder="비밀번호">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"><span>이후에 자동으로 로그인</span>
            </label>
        </div>
        <button class="btn btn-default">로그인</button>
        <a href="/sign" class="btn btn-primary">회원가입</a>
    </form>

    <!--footer-->
    <div th:insert="layout/footer :: footer"></div>
</div>
</body>
</html>