<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: common_head(~{::title}, ~{::link})">
    <title>마이페이지</title>

    <link />
</head>
<body>

<div class="loginBox" th:object="${member}">
    <div class="form-group">
        <img th:unless="${session.imageName == null}" id="profileUpload" src="/images/ico_user.jpg" th:src="|/image/${session.imageName}|">
        <img th:if="${session.imageName == null}" id="profileUpload" src="/images/ico_user.jpg">
    </div>

    <div class="form-group">
        <label for="username">별명</label>
        <input type="text" id="username" th:field="*{username}" class="form-control read" th:value="${username}" readonly>
    </div>

    <div class="form-group">
        <label for="email">이메일</label>
        <input type="text" id="email" th:field="*{email}" class="form-control" th:value="${email}" readonly>
    </div>

    <a href="/member/profile" class="btn btn-default">수정</a>
    <a href="/board/privateBoardList" class="btn btn-default">취소</a>
</div>

<!--푸터-->
<div th:replace="layout/footer :: footer"></div>

<script th:src="@{/js/member.js}" type="text/javascript"></script>-->

</body>
</html>