<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--부트스트랩-->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

    <!--일반 css-->
    <link th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>

<div class="container">
    <form action="/member/save" method="post">
        <div class="form-group">
            <label for="username">별명</label>
            <input type="text" name="username" id="username" class="form-controller">
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" name="password" id="password" class="form-controller">
        </div>
        <div class="form-group">
            <label for="password_check">비밀번호 확인</label>
            <input type="password" name="password_check" id="password_check" class="form-controller">
        </div>
        <div class="form-group">
            <label for="email">이메일</label>
            <input type="text" name="email" id="email" class="form-controller">
        </div>
        <div class="form-group">
            <label for="image">이미지</label>
            <input type="image" name="image" id="image" class="form-controller">
        </div>
        <button class="btn btn-primary" type="submit">가입하기</button>
        <a href="/" class="btn btn-warning">취소</a>
    </form>

    <!--footer-->
    <div th:insert="layout/footer :: footer"></div>
</div>
</body>
</html>