<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_head(title, links)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title th:replace="${title}">공통 헤더</title>

    <!-------공용-------->
    <!--부트스트랩-->
    <link th:href="@{/css/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet" />

    <!--일반 css-->
    <link th:href="@{/css/main.css}" rel="stylesheet" />

    <!--jquery-ui-->
    <link th:href="@{/css/jquery-ui/jquery-ui.css}" rel="stylesheet" />
<!--    <link th:href="@{/css/jquery-ui/jquery-ui-min.css}" rel="stylesheet" />-->
    <link th:href="@{/css/jquery-ui/jquery-ui.structure.css}" rel="stylesheet" />
    <link th:href="@{/css/jquery-ui/jquery-ui.structure.min.css}" rel="stylesheet" />
    <link th:href="@{/css/jquery-ui/jquery-ui.theme.css}" rel="stylesheet" />
    <link th:href="@{/css/jquery-ui/jquery-ui.theme.min.css}" rel="stylesheet" />

    <!-------추가-------->
    <th:block th:replace="${links}" />
</head>
<body>

<header th:fragment="header">
    <div id="blackScreen"></div>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/board/privateBoardList">Travel Diary</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/board">작성하기</a></li>
                    <li><a href="/member/profileForm" class="navbar-link">마이페이지</a></li>
                    <li><a href="/logout" class="navbar-link">로그아웃</a></li>
                    <li th:unless="${session.image == null}"><img id="profile" src="/images/ico_user.jpg" th:src="|/image/${session.image}|"></li>
                    <li th:if="${session.image == null}"><img id="profile" src="/images/ico_user.jpg"></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</header>

</body>
</html>