<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: common_head(~{::title}, ~{::link})">
    <title>일지 작성</title>

    <link />
</head>
<body th:replace="layout/body :: common_body(~{::section})">

<section class="container">
    <div>
        <form action="/board/save" method="post">
            <div class="form-group">
                <label for="date">날짜</label>
                <input type="date" class="form-control" id="date" name="date">
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요">
            </div>
            <div class="form-group">
                <label for="location">지역</label>
                <input type="text" class="form-control" id="location" name="location" placeholder="지역을 입력하세요">
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea class="form-control" id="content" name="content" placeholder="내용을 입력하세요"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputFile">파일 업로드</label>
                <input type="file" name="date" id="exampleInputFile">
            </div>

            <button type="submit" class="btn btn-default">저장</button>
        </form>
    </div>
</section>

</body>
</html>