<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: common_head(~{::title}, ~{::link})">
    <title>일지 목록</title>

    <link />
</head>
<!--<body th:replace="layout/body :: common_body(~{::section})">-->
<body>

<!--헤더-->
<div th:replace="layout/header :: header"></div>

<div class="container">
    <div id="searchContainer">
        <form class="form-inline" action="/board/privateBoardList" method="get">
            <div class="searchBox form-group">
                <label for="searchDate">날짜</label>
                <input type="text" id="searchDate" name="date" th:value="${date}" class="form-control searchDate write" readonly>
            </div>

            <button type="submit" id="dateSearchBtn" class="btn btn-primary">조회</button>
        </form>

        <div id="shareBox">
            <select id="shareList" name="shareList" class="form-select">
                <option value="0">내 폴더</option>
            </select>
            <a href="/share" class="btn btn-primary">공유 폴더 만들기</a>
        </div>
    </div>

    <hr>

    <input type="hidden" id="shareId" th:value="${shareId}" value="0">

    <div class="row" th:object="${board}">
        <div class="col-sm-6 col-md-4" th:each="board : ${boards}">
            <div class="thumbnail wp240 hp250">
                <div class="caption">
                    <p th:text="${board.date}">날짜</p>
                    <h3><a href="board.html" th:href="@{/board/{boardId}(boardId=${board.id})}" th:text="${board.title}">제목</a></h3>
                    <div class="imgBox">
                        <th:block th:each="imageList : ${board.images}">
                            <img th:each="image : ${imageList}"
                                 th:src="|/image/${image.image.storedFileName}|">
                        </th:block>
                    </div>
                    <p class="boardListContent" th:text="${board.content}">내용</p>
                    <p class="listLocation" th:text="${board.location}">위치</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--푸터-->
<div th:replace="layout/footer :: footer"></div>

<script th:src="@{/js/board.js}" type="text/javascript"></script>
<script th:src="@{/js/board/boardList.js}" type="text/javascript"></script>

</body>
</html>