<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: common_head(~{::title}, ~{::link})">
    <title>일지 목록</title>

    <link />
</head>
<body th:replace="layout/body :: common_body(~{::section})">

<section class="container">

    <div class="row" th:object="${board}">
        <div class="col-sm-6 col-md-4" th:each="board : ${boards}">
            <div class="thumbnail wp240 hp250">
                <div class="caption">
                    <p th:text="${board.date}">날짜</p>
                    <h3><a href="board.html" th:href="@{/board/{boardId}(boardId=${board.id})}" th:text="${board.title}">제목</a></h3>
                    <div class="imgBox">
                        <th:block th:each="imageList : ${board.images}">
                            <img th:each="image : ${imageList}"
                                 th:src="|/image/${image.images.storedFileName}|">
                        </th:block>
                    </div>
                    <p class="boardListContent" th:text="${board.content}">내용</p>
                    <p class="listLocation" th:text="${board.location}">위치</p>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>