<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: common_head(~{::title}, ~{::link})">
    <title>일지 목록</title>

    <link />
</head>
<body th:replace="layout/body :: common_body(~{::section})">

<section class="container">

    <div class="row" th:object="${board}">
        <div class="col-sm-6 col-md-4" th:each="board : ${boards}">
            <div class="thumbnail wp240 hp200">
<!--                <img src="..." alt="...">-->
                <div class="caption">
                    <h3><a href="board.html" th:href="@{/board/{boardId}(boardId=${board.id})}" th:text="${board.title}">Thumbnail label</a></h3>
                    <p>...</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">Button</a>
                        <a href="#" class="btn btn-default" role="button">Button</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>