#blackScreen {display: none; width: 100%; height: 100%; background: #282828; position: absolute; z-index: 1031; opacity: 0.8;}

#profile {width: 50px; height: 50px; padding: 5px; border-radius: 35px;}

#footer {text-align: center}

.loginBox {width: 200px; margin: 100px auto;}

.field-error {
    border-color: #dc3545;
    color: #dc3545
}

/* common */
.wp240 {width:240px}
.hp200 {height:200px}
.hp250 {height:250px}



/* 부트스트랩 */
@media screen and (min-width:992px) {
    .col-md-4 {width: 25%;}
}

/* maps */
#map {width: 1000px; height: 800px;}
.search {position: absolute; z-index: 1000; top: 20px; left: 20px;}
.search #address {width: 150px; height: 20px; line-height: 20px; border: solid 1px #555; padding: 5px; font-size: 12px; box-sizing: content-box;}
.search #submit {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 12px;
    border: solid 1px #555;
    border-radius: 3px;
    cursor: pointer;
    box-sizing: content-box;
}

/** error **/
.error-page {max-width: 600px; margin: 0 auto; text-align: center;}

/** member **/
.passwordCk {display: hidden;}

#profileUpload {margin: 0 25px; width:150px; height:150px; padding: 5px; border-radius: 115px;}


/** board **/
/* boardList */
.thumbnail {position: relative;}
.imgBox img {width:50px; height:50px; margin-right: 5px;}
.boardListContent {margin-top:5px;}
.listLocation {position: absolute; bottom: 0;}

#searchContainer {display: flex; justify-content: space-between; margin-top:10px;}
.searchBox {display: flex; }
#searchDate {width: 150px;}
#searchDate.write {cursor: text; background-color: #fff; opacity: unset;}

#shareBox {display: flex;}
#shareList {margin-right:10px;}

/* board */
.boardImg img{width: 300px; height: 300px; margin-right:15px;}

#date.write {cursor: text; background-color: #fff; opacity: unset;}



/*** share ***/
/* 공유 게시글 추가 */
#shareSaveContainer {position: relative;}

.modalContainer {z-index: 1200; position: absolute; background: white; padding: 20px; border-radius: 15px; top: 90px; left: 300px;}

#boardModal {display: none;}
#memberModal {display: none;}

.addBox {width: 500px; margin: 0 auto;}

.searchBox {display: flex; margin-bottom: 20px;}
.searchType {width:120px; margin-right: 10px;}
.addSearch {margin-left: 10px;}
.addTitle {font-size: 25px; width: 80%;}

.listBox {max-height: 390px; overflow-y: auto;}
.contentBox {border-bottom: solid #cbcbcb 1px;}
.contentHeader {display: flex; justify-content: space-between;}
.listBox .boardList {display: flex; position: relative;}
#boardListBox .boardList input {position: absolute; top: 18px;}
#boardListBox .boardList label {width: 100%; padding-left: 25px;}
#memberListBox .boardList label {width: 100%; padding-left: 10px;}


#resultBox {overflow-y: auto;}

#resultBox {width: 500px;}

.shareBtnBox {text-align: center; margin-top: 20px;}