<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>메인화면</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--부트스트랩-->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

    <!--일반 css-->
    <link th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>

<div class="container">
    <form action="" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-controller">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-controller">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me">
                " Remember me "
            </label>
        </div>
        <button class="btn btn-primary" type="submit">Sign in</button>
    </form>
</div>

<div th:insert="layout/footer :: copy"></div>
</body>
</html>