<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>

<div id="map">
    <div class="search">
        <input id="address" type="text" placeholder="검색할 주소" value="불정로 6">
        <input id="submit" type="button" value="주소 검색">
    </div>
</div>

<!--<div>-->
<!--    <p th:text="${result.lastBuildDate}"></p>-->
<!--    <p th:text="${result.total}"></p>-->
<!--    <p th:text="${result.start}"></p>-->
<!--    <p th:text="${result.display}"></p>-->
<!--    <ul th:each="map : ${items}">-->
<!--        <li><span th:text="${map.key}"></span><span> : </span><span th:text="${map.value}"></span></li>-->
<!--    </ul>-->
<!--</div>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=0l7kyxi7uv&submodules=geocoder"></script>
<script th:src="@{/js/maps.js}" type="text/javascript"></script>

</body>
</html>